.upload_files_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.upload_files_title {
  margin-bottom: 50px;
}

.drop_area {
  width: 50vw;
  height: 20vw;
  border: 4px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.non_drop_area {
  width: 50vw;
  height: 20vw;
  display: flex;
  border: 4px solid black;
  align-items: center;
  justify-content: center;
}