.file_content {
  border: 2px solid black;
  width: 280px;
  height: 280px;
  margin: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.file_text {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 200px;
  justify-content: center;
  padding: 5px;
}

.img {
  width: 110px;
  height: 110px;
  margin-top: 20px;
}

.file_btn {
  display: flex;
  margin-bottom: 20px;
  width: 200px;
  justify-content: space-between;
}