.sign-up-form {
  display: flex;
  background-color: darkgrey;
  width: 500px;
  height: 300px;
  margin-top: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 20px;
}

.sign-up-title {
  margin: 20px;
  font-size: 20pt;
}

