.button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: rgb(66, 66, 66);
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background: #111;
}