.nav-bar {
  position: fixed;
  width: 100%; 
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: rgb(66, 66, 66);
}

.links {
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
}

.link_button {
  padding: 20px;
}

li {
  list-style-type: none;
}

li a {
  outline: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
